:root {
    --color-body: #ede8f5;
    --color-msgBar: #adbbad;
    --color-outermsgBar: #8697c4;
    --color-button: #3d52a0;
    --color-buttonHover: #294381;

    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Message list style */
  ul#messages {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the message list to grow and shrink with the viewport */
    gap: 10px;
  }
  
  li {
    display: block; /* Ensures each message is on a new line */
  }
  
  .message-content {
    display: inline-block; /* Adjusts the width of the content based on message size */
    padding: 8px;
    background-color: var(--color-msgBar);
    border-radius: 5px;
    max-width: 80%; /* Restricts the maximum width of the message */
    word-wrap: break-word; /* Wraps long words within the element */
  }
  
  
  /* Fixed input bar at the bottom */
  form#messageForm, form#usernameForm{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--color-outermsgBar);
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  form#messageForm input, form#usernameForm input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--color-msgBar);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  form#messageForm button, form#usernameForm button{
    padding: 10px 20px;
    background-color: var(--color-button);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form#messageForm button:hover, form#usernameForm button:hover {
    background-color: var(--color-buttonHover);
  }

  
  form#usernameForm input {
    padding: 10px;
    font-size: 16px;
  }
  